body {
  background-color: #444444 !important; }

.bx--text-input {
  background-color: #e4e4e4 !important;
  border: none !important;
  border-bottom: 1px solid #8d8d8d !important; }

.bx--text-input:focus {
  outline: none !important; }

.bx--list__item {
  color: white !important; }

.bx--list--nested > .bx--list__item::before {
  position: absolute !important;
  left: 1rem !important;
  content: '\0025AA' !important; }

.bx--modal-container {
  background-color: #4c4c4c !important; }

.bx--modal-header__heading {
  color: white !important; }

.bx--modal-content > * {
  color: white; }

.bx--modal-close:hover {
  background-color: #7c7c7c; }

.bx--modal-close:focus {
  border: 2px solid transparent !important; }

#circle-list {
  position: relative;
  width: 384px;
  height: 384px;
  margin-top: 15vh; }
  #circle-list > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin: -2.5em; }
    #circle-list > *:nth-of-type(1) {
      transform: rotate(0deg) translate(192px) rotate(0deg); }
    #circle-list > *:nth-of-type(2) {
      transform: rotate(6.92308deg) translate(192px) rotate(-6.92308deg); }
    #circle-list > *:nth-of-type(3) {
      transform: rotate(13.84615deg) translate(192px) rotate(-13.84615deg); }
    #circle-list > *:nth-of-type(4) {
      transform: rotate(20.76923deg) translate(192px) rotate(-20.76923deg); }
    #circle-list > *:nth-of-type(5) {
      transform: rotate(27.69231deg) translate(192px) rotate(-27.69231deg); }
    #circle-list > *:nth-of-type(6) {
      transform: rotate(34.61538deg) translate(192px) rotate(-34.61538deg); }
    #circle-list > *:nth-of-type(7) {
      transform: rotate(41.53846deg) translate(192px) rotate(-41.53846deg); }
    #circle-list > *:nth-of-type(8) {
      transform: rotate(48.46154deg) translate(192px) rotate(-48.46154deg); }
    #circle-list > *:nth-of-type(9) {
      transform: rotate(55.38462deg) translate(192px) rotate(-55.38462deg); }
    #circle-list > *:nth-of-type(10) {
      transform: rotate(62.30769deg) translate(192px) rotate(-62.30769deg); }
    #circle-list > *:nth-of-type(11) {
      transform: rotate(69.23077deg) translate(192px) rotate(-69.23077deg); }
    #circle-list > *:nth-of-type(12) {
      transform: rotate(76.15385deg) translate(192px) rotate(-76.15385deg); }
    #circle-list > *:nth-of-type(13) {
      transform: rotate(83.07692deg) translate(192px) rotate(-83.07692deg); }
    #circle-list > *:nth-of-type(14) {
      transform: rotate(90deg) translate(192px) rotate(-90deg); }
    #circle-list > *:nth-of-type(15) {
      transform: rotate(96.92308deg) translate(192px) rotate(-96.92308deg); }
    #circle-list > *:nth-of-type(16) {
      transform: rotate(103.84615deg) translate(192px) rotate(-103.84615deg); }
    #circle-list > *:nth-of-type(17) {
      transform: rotate(110.76923deg) translate(192px) rotate(-110.76923deg); }
    #circle-list > *:nth-of-type(18) {
      transform: rotate(117.69231deg) translate(192px) rotate(-117.69231deg); }
    #circle-list > *:nth-of-type(19) {
      transform: rotate(124.61538deg) translate(192px) rotate(-124.61538deg); }
    #circle-list > *:nth-of-type(20) {
      transform: rotate(131.53846deg) translate(192px) rotate(-131.53846deg); }
    #circle-list > *:nth-of-type(21) {
      transform: rotate(138.46154deg) translate(192px) rotate(-138.46154deg); }
    #circle-list > *:nth-of-type(22) {
      transform: rotate(145.38462deg) translate(192px) rotate(-145.38462deg); }
    #circle-list > *:nth-of-type(23) {
      transform: rotate(152.30769deg) translate(192px) rotate(-152.30769deg); }
    #circle-list > *:nth-of-type(24) {
      transform: rotate(159.23077deg) translate(192px) rotate(-159.23077deg); }
    #circle-list > *:nth-of-type(25) {
      transform: rotate(166.15385deg) translate(192px) rotate(-166.15385deg); }
    #circle-list > *:nth-of-type(26) {
      transform: rotate(173.07692deg) translate(192px) rotate(-173.07692deg); }
    #circle-list > *:nth-of-type(27) {
      transform: rotate(180deg) translate(192px) rotate(-180deg); }
    #circle-list > *:nth-of-type(28) {
      transform: rotate(186.92308deg) translate(192px) rotate(-186.92308deg); }
    #circle-list > *:nth-of-type(29) {
      transform: rotate(193.84615deg) translate(192px) rotate(-193.84615deg); }
    #circle-list > *:nth-of-type(30) {
      transform: rotate(200.76923deg) translate(192px) rotate(-200.76923deg); }
    #circle-list > *:nth-of-type(31) {
      transform: rotate(207.69231deg) translate(192px) rotate(-207.69231deg); }
    #circle-list > *:nth-of-type(32) {
      transform: rotate(214.61538deg) translate(192px) rotate(-214.61538deg); }
    #circle-list > *:nth-of-type(33) {
      transform: rotate(221.53846deg) translate(192px) rotate(-221.53846deg); }
    #circle-list > *:nth-of-type(34) {
      transform: rotate(228.46154deg) translate(192px) rotate(-228.46154deg); }
    #circle-list > *:nth-of-type(35) {
      transform: rotate(235.38462deg) translate(192px) rotate(-235.38462deg); }
    #circle-list > *:nth-of-type(36) {
      transform: rotate(242.30769deg) translate(192px) rotate(-242.30769deg); }
    #circle-list > *:nth-of-type(37) {
      transform: rotate(249.23077deg) translate(192px) rotate(-249.23077deg); }
    #circle-list > *:nth-of-type(38) {
      transform: rotate(256.15385deg) translate(192px) rotate(-256.15385deg); }
    #circle-list > *:nth-of-type(39) {
      transform: rotate(263.07692deg) translate(192px) rotate(-263.07692deg); }
    #circle-list > *:nth-of-type(40) {
      transform: rotate(270deg) translate(192px) rotate(-270deg); }
    #circle-list > *:nth-of-type(41) {
      transform: rotate(276.92308deg) translate(192px) rotate(-276.92308deg); }
    #circle-list > *:nth-of-type(42) {
      transform: rotate(283.84615deg) translate(192px) rotate(-283.84615deg); }
    #circle-list > *:nth-of-type(43) {
      transform: rotate(290.76923deg) translate(192px) rotate(-290.76923deg); }
    #circle-list > *:nth-of-type(44) {
      transform: rotate(297.69231deg) translate(192px) rotate(-297.69231deg); }
    #circle-list > *:nth-of-type(45) {
      transform: rotate(304.61538deg) translate(192px) rotate(-304.61538deg); }
    #circle-list > *:nth-of-type(46) {
      transform: rotate(311.53846deg) translate(192px) rotate(-311.53846deg); }
    #circle-list > *:nth-of-type(47) {
      transform: rotate(318.46154deg) translate(192px) rotate(-318.46154deg); }
    #circle-list > *:nth-of-type(48) {
      transform: rotate(325.38462deg) translate(192px) rotate(-325.38462deg); }
    #circle-list > *:nth-of-type(49) {
      transform: rotate(332.30769deg) translate(192px) rotate(-332.30769deg); }
    #circle-list > *:nth-of-type(50) {
      transform: rotate(339.23077deg) translate(192px) rotate(-339.23077deg); }
    #circle-list > *:nth-of-type(51) {
      transform: rotate(346.15385deg) translate(192px) rotate(-346.15385deg); }
    #circle-list > *:nth-of-type(52) {
      transform: rotate(353.07692deg) translate(192px) rotate(-353.07692deg); }
  #circle-list img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 5px tomato;
    transition: .15s; }
    #circle-list img:hover, #circle-list img:active {
      filter: grayscale(0); }

#circle-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto; }

.user-joined {
  color: green; }

.user-left {
  color: red; }

.user-broke-circle {
  color: lightpink; }

.card {
  border: 1px solid #878683;
  background-image: url("img/back.svg");
  background-size: contain;
  color: #878683;
  height: 144px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-null {
  height: 82px;
  width: 50px; }

.card:hover {
  background-color: black;
  color: white;
  outline: 2px solid red; }

#chat-container {
  position: fixed;
  bottom: 20px;
  left: 8px; }

#message-container {
  height: 40vh;
  width: 22vw;
  background: black;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
  padding-right: 4px;
  border-radius: 5px; }

#message-container::-webkit-scrollbar {
  height: 7px;
  width: 5px; }

#message-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  background-color: #888888; }

#messages p {
  margin-left: 5px; }

#username-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  z-index: 1;
  display: flex;
  justify-content: center;
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear; }

#username-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#player-list-container {
  background-color: #010101;
  width: 15vw;
  height: 40vh;
  position: fixed;
  top: 20px;
  right: 8px;
  color: white;
  overflow: auto;
  border-radius: 5px; }

#player-list-header {
  width: 100%;
  text-align: center; }

#player-list-header p {
  border-bottom: 1px solid white; }

#form {
  width: 100%; }

#circle-list li {
  width: 0 !important;
  height: 0 !important; }

#card-description {
  display: flex;
  justify-content: row; }

#card-description-text {
  margin-left: 8px; }

#card-modal-btn {
  display: none; }

.user-drew-card {
  color: gold; }

.user-turn {
  color: lightskyblue; }
